#error {
    color: red;
}

#delete-history {
    margin-top: 10px;
}

#searches:hover {
    background-color: lightgrey;
}

#searches:active {
    background-color: grey;
}

.searchArea {
    background-color: rgb(229, 226, 226);
    opacity: 0.85;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px;
    font-family: 'Signika Negative', sans-serif;
}